{% extends "registration/plantilla.html" %}

{% block body %}
<div class="container display: flex">
    <div class="justify-content: center text-center">
        <h1>Formulario para cambiar su clave</h1>
        <p>Debe ingresar el correo electrónico que usó al registrarse:</p>
        <form action ="" method ="post"> {% csrf_token %}
            {%if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p>{{form.email }}</p>
                <input type ="submit"  class = btn btn default btn lg  value ="Reset password "/>
                
        </form>
        <p><a class="btn btn-primary" href="{% url 'login' %}" role="button">Volver al Login</a></p>
    </div>
</div>
{% endblock %}