{% extends "plantilla.html" %} {% block body %}
{% load static %}
<div class="text-center">
    <h2>ACERCA DE NOSOTROS</h2>
    <img src="{% static 'imagenes/logo.png' %}" class="img-fluid" alt="logo_banner" width="250px" >
    <p><b>JAGUARETE KAA S.A</b> somos una tienda que ofrece los modelos mas avanzados en celulares.<br/> Nuestros productos cuenta con garantía por 6 meses y todos incluyen accesorios.<br/> Te ofrecemos seguridad y garantía en tu compra, ademas realizamos envios a nivel nacional e internacional.</p>
</div>

{% endblock %}