{% extends "plantilla.html" %} {% block body %}
{# Lista de productos en cuadro #}

  <div class="row justify-content-center">
    {% for p in productos %}
      {% if forloop.counter <= 3 %}
        
            <div class="col-sm card">
              <div class="h-100 d-flex flex-column align-items-center justify-content-between">
                  <img src="{{ p.imagen.url }}" srcset="" alt="fotoProducto" width="200px" >
                  <h5 class="card-title">{{p.titulo}}</h5>
                  <p class="card-text">{{ p.descripcion }}</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                  <a href="{% url 'APP:productos' p.id %}" class="btn btn-primary">Ver Producto</a>
              </div>
            </div>    
          
        
      {% endif %} 
    {% endfor %}
  </div>
{# Lista de productos #}
<div class="container-fluid">
  <div class="justify-content: center text-center">
    <h2>MAS PRODUCTOS</h2>
      {% for p in otrosproductos %}
          <div class="mx-auto" style="width: 500px; color:#562F7C">
            <div class="card-header">
              <b>{{p.titulo}} PRODUCTO [{{p.id}}]: {{p.descripcion}}</b>  
              
              <p><a class="btn btn-primary btn-sm" href="{% url 'APP:productos' p.id  %}" role="button">Ver aquí</a></p>
            </div>
          </div>        
      {% endfor %}
  </div>
</div>
{% endblock %}
